* text=auto !eol
/AUTHORS -text
/Externals -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
SYMPHONY/Applications/CNRP/Makefile.in -text
SYMPHONY/Applications/CNRP/Makefile.orig -text
SYMPHONY/Applications/CNRP/Win32/v6/cnrp.dsp -text
SYMPHONY/Applications/CNRP/Win32/v6/cnrp.dsw -text
SYMPHONY/Applications/CNRP/Win32/v6/cnrp.mak -text
SYMPHONY/Applications/CNRP/Win32/v6/libSymphony.dsp -text
SYMPHONY/Applications/MATCH/Makefile.in -text
SYMPHONY/Applications/MATCH/Makefile.orig -text
SYMPHONY/Applications/MATCH/Win32/v6/libSymphony.dsp -text
SYMPHONY/Applications/MATCH/Win32/v6/match.dsp -text
SYMPHONY/Applications/MATCH/Win32/v6/match.dsw -text
SYMPHONY/Applications/MATCH/Win32/v6/match.mak -text
SYMPHONY/Applications/MCKP/Makefile.in -text
SYMPHONY/Applications/MCKP/Makefile.orig -text
SYMPHONY/Applications/MCKP/Win32/v6/libSymphony.dsp -text
SYMPHONY/Applications/MCKP/Win32/v6/mckp.dsp -text
SYMPHONY/Applications/MCKP/Win32/v6/mckp.dsw -text
SYMPHONY/Applications/MCKP/Win32/v6/mckp.mak -text
SYMPHONY/Applications/MPP/Makefile.in -text
SYMPHONY/Applications/MPP/Makefile.orig -text
SYMPHONY/Applications/MPP/Win32/v6/libSymphony.dsp -text
SYMPHONY/Applications/MPP/Win32/v6/mpp.dsp -text
SYMPHONY/Applications/MPP/Win32/v6/mpp.dsw -text
SYMPHONY/Applications/MPP/Win32/v6/mpp.mak -text
SYMPHONY/Applications/SPP+CUTS/Makefile.in -text
SYMPHONY/Applications/SPP+CUTS/Makefile.orig -text
SYMPHONY/Applications/SPP+CUTS/Win32/v6/libSymphony.dsp -text
SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.dsp -text
SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.dsw -text
SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.mak -text
SYMPHONY/Applications/SPP/Makefile.in -text
SYMPHONY/Applications/SPP/Makefile.orig -text
SYMPHONY/Applications/SPP/Win32/v6/libSymphony.dsp -text
SYMPHONY/Applications/SPP/Win32/v6/spp.dsp -text
SYMPHONY/Applications/SPP/Win32/v6/spp.dsw -text
SYMPHONY/Applications/SPP/Win32/v6/spp.mak -text
SYMPHONY/Applications/USER/Makefile.in -text
SYMPHONY/Applications/USER/Makefile.orig -text
SYMPHONY/Applications/USER/Win32/v6/libSymphony.dsp -text
SYMPHONY/Applications/USER/Win32/v6/user.dsp -text
SYMPHONY/Applications/USER/Win32/v6/user.dsw -text
SYMPHONY/Applications/USER/Win32/v6/user.mak -text
SYMPHONY/Applications/VRP/Makefile.in -text
SYMPHONY/Applications/VRP/Makefile.orig -text
SYMPHONY/Applications/VRP/Win32/v6/libSymphony.dsp -text
SYMPHONY/Applications/VRP/Win32/v6/vrp.dsp -text
SYMPHONY/Applications/VRP/Win32/v6/vrp.dsw -text
SYMPHONY/Applications/VRP/Win32/v6/vrp.mak -text
SYMPHONY/Makefile.am -text
SYMPHONY/Makefile.in -text
SYMPHONY/configure -text
SYMPHONY/configure.ac -text
SYMPHONY/include/SymConfig.h -text
SYMPHONY/include/config_sym.h.in -text
SYMPHONY/src/Makefile.am -text
SYMPHONY/src/Makefile.in -text
SYMPHONY/sym_addlibs.txt.in -text
Win32/v6/libSymphony.dsp -text
Win32/v6/sym.mak -text
Win32/v6/symphony.dsp -text
Win32/v6/symphony.dsw -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/ltmain.sh -text
/missing -text
share/config.site -text
