SYMPHONY/acinclude.m4
acinclude.m4
aclocal.m4*
aclocal.m4.orig*
autom4te*
*~
Makefile
config.cache
config.log
config.status
libtool
dist
*.aux
*.toc
*.bbl
*.blg
*.out
*.pdf
*.idx
*.log
SYMPHONY/Doc/man
SYMPHONY/miplib3
miplib3
Doc/man