* text=auto !eol
stable/5.1/AUTHORS -text
stable/5.1/Externals.release -text
stable/5.1/Externals.stable -text
stable/5.1/LICENSE -text
stable/5.1/Makefile.am -text
stable/5.1/Makefile.in -text
stable/5.1/README -text
stable/5.1/SYMPHONY/AUTHORS -text
stable/5.1/SYMPHONY/Applications/CNRP/Makefile.in -text
stable/5.1/SYMPHONY/Applications/CNRP/Makefile.orig -text
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v6/cnrp.dsp -text
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v6/cnrp.dsw -text
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v6/cnrp.mak -text
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v6/libSymphony.dsp -text
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v8/cnrp.ncb -text svneol=unset#unset
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v8/cnrp.sln -text
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v8/cnrp.suo -text
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v8/cnrp.vcproj -text
stable/5.1/SYMPHONY/Applications/CNRP/Win32/v8/libSymphony.vcproj -text
stable/5.1/SYMPHONY/Applications/MATCH/Makefile.in -text
stable/5.1/SYMPHONY/Applications/MATCH/Makefile.orig -text
stable/5.1/SYMPHONY/Applications/MATCH/Win32/v6/libSymphony.dsp -text
stable/5.1/SYMPHONY/Applications/MATCH/Win32/v6/match.dsp -text
stable/5.1/SYMPHONY/Applications/MATCH/Win32/v6/match.dsw -text
stable/5.1/SYMPHONY/Applications/MATCH/Win32/v6/match.mak -text
stable/5.1/SYMPHONY/Applications/MATCH/Win32/v8/libSymphony.vcproj -text
stable/5.1/SYMPHONY/Applications/MATCH/Win32/v8/match.sln -text
stable/5.1/SYMPHONY/Applications/MATCH/Win32/v8/match.suo -text
stable/5.1/SYMPHONY/Applications/MATCH/Win32/v8/match.vcproj -text
stable/5.1/SYMPHONY/Applications/MCKP/Makefile.in -text
stable/5.1/SYMPHONY/Applications/MCKP/Makefile.orig -text
stable/5.1/SYMPHONY/Applications/MCKP/Win32/v6/libSymphony.dsp -text
stable/5.1/SYMPHONY/Applications/MCKP/Win32/v6/mckp.dsp -text
stable/5.1/SYMPHONY/Applications/MCKP/Win32/v6/mckp.dsw -text
stable/5.1/SYMPHONY/Applications/MCKP/Win32/v6/mckp.mak -text
stable/5.1/SYMPHONY/Applications/MCKP/Win32/v8/mckp.sln -text
stable/5.1/SYMPHONY/Applications/MCKP/Win32/v8/mckp.suo -text
stable/5.1/SYMPHONY/Applications/MCKP/Win32/v8/mckp.vcproj -text
stable/5.1/SYMPHONY/Applications/MPP/Makefile.in -text
stable/5.1/SYMPHONY/Applications/MPP/Makefile.orig -text
stable/5.1/SYMPHONY/Applications/MPP/Win32/v6/libSymphony.dsp -text
stable/5.1/SYMPHONY/Applications/MPP/Win32/v6/mpp.dsp -text
stable/5.1/SYMPHONY/Applications/MPP/Win32/v6/mpp.dsw -text
stable/5.1/SYMPHONY/Applications/MPP/Win32/v6/mpp.mak -text
stable/5.1/SYMPHONY/Applications/MPP/Win32/v8/libSymphony.vcproj -text
stable/5.1/SYMPHONY/Applications/MPP/Win32/v8/mpp.sln -text
stable/5.1/SYMPHONY/Applications/MPP/Win32/v8/mpp.suo -text
stable/5.1/SYMPHONY/Applications/MPP/Win32/v8/mpp.vcproj -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Makefile.in -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Makefile.orig -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Win32/v6/libSymphony.dsp -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.dsp -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.dsw -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.mak -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Win32/v8/libSymphony.vcproj -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Win32/v8/spp_with_cuts.sln -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Win32/v8/spp_with_cuts.suo -text
stable/5.1/SYMPHONY/Applications/SPP+CUTS/Win32/v8/spp_with_cuts.vcproj -text
stable/5.1/SYMPHONY/Applications/SPP/Makefile.in -text
stable/5.1/SYMPHONY/Applications/SPP/Makefile.orig -text
stable/5.1/SYMPHONY/Applications/SPP/Win32/v6/libSymphony.dsp -text
stable/5.1/SYMPHONY/Applications/SPP/Win32/v6/spp.dsp -text
stable/5.1/SYMPHONY/Applications/SPP/Win32/v6/spp.dsw -text
stable/5.1/SYMPHONY/Applications/SPP/Win32/v6/spp.mak -text
stable/5.1/SYMPHONY/Applications/SPP/Win32/v8/libSymphony.vcproj -text
stable/5.1/SYMPHONY/Applications/SPP/Win32/v8/spp.sln -text
stable/5.1/SYMPHONY/Applications/SPP/Win32/v8/spp.suo -text
stable/5.1/SYMPHONY/Applications/SPP/Win32/v8/spp.vcproj -text
stable/5.1/SYMPHONY/Applications/USER/Makefile.in -text
stable/5.1/SYMPHONY/Applications/USER/Makefile.orig -text
stable/5.1/SYMPHONY/Applications/USER/Win32/v6/libSymphony.dsp -text
stable/5.1/SYMPHONY/Applications/USER/Win32/v6/user.dsp -text
stable/5.1/SYMPHONY/Applications/USER/Win32/v6/user.dsw -text
stable/5.1/SYMPHONY/Applications/USER/Win32/v6/user.mak -text
stable/5.1/SYMPHONY/Applications/USER/Win32/v8/libSymphony.vcproj -text
stable/5.1/SYMPHONY/Applications/USER/Win32/v8/user.sln -text
stable/5.1/SYMPHONY/Applications/USER/Win32/v8/user.suo -text
stable/5.1/SYMPHONY/Applications/USER/Win32/v8/user.vcproj -text
stable/5.1/SYMPHONY/Applications/VRP/Makefile.in -text
stable/5.1/SYMPHONY/Applications/VRP/Makefile.orig -text
stable/5.1/SYMPHONY/Applications/VRP/Win32/v6/libSymphony.dsp -text
stable/5.1/SYMPHONY/Applications/VRP/Win32/v6/vrp.dsp -text
stable/5.1/SYMPHONY/Applications/VRP/Win32/v6/vrp.dsw -text
stable/5.1/SYMPHONY/Applications/VRP/Win32/v6/vrp.mak -text
stable/5.1/SYMPHONY/Applications/VRP/Win32/v8/libSymphony.vcproj -text
stable/5.1/SYMPHONY/Applications/VRP/Win32/v8/vrp.sln -text
stable/5.1/SYMPHONY/Applications/VRP/Win32/v8/vrp.suo -text
stable/5.1/SYMPHONY/Applications/VRP/Win32/v8/vrp.vcproj -text
stable/5.1/SYMPHONY/Examples/milp2.c -text
stable/5.1/SYMPHONY/Examples/milpOsi.c -text
stable/5.1/SYMPHONY/Examples/milpOsi2.c -text
stable/5.1/SYMPHONY/Makefile.am -text
stable/5.1/SYMPHONY/Makefile.in -text
stable/5.1/SYMPHONY/configure -text
stable/5.1/SYMPHONY/configure.ac -text
stable/5.1/SYMPHONY/include/SymConfig.h -text
stable/5.1/SYMPHONY/include/config_sym.h.in -text
stable/5.1/SYMPHONY/scripts/publish2 -text
stable/5.1/SYMPHONY/src/Makefile.am -text
stable/5.1/SYMPHONY/src/Makefile.in -text
stable/5.1/SYMPHONY/sym_addlibs.txt.in -text
stable/5.1/SYMPHONY/test/Makefile.am -text
stable/5.1/SYMPHONY/test/Makefile.in -text
stable/5.1/SYMPHONY/test/OsiSolverInterfaceTest.cpp -text
stable/5.1/SYMPHONY/test/OsiSymSolverInterfaceTest.cpp -text
stable/5.1/SYMPHONY/test/unitTestSym.cpp -text
stable/5.1/Win32/sym.mak -text
stable/5.1/Win32/v6/libSymphony.dsp -text
stable/5.1/Win32/v6/symphony.dsp -text
stable/5.1/Win32/v6/symphony.dsw -text
stable/5.1/Win32/v6/symphony.opt -text
stable/5.1/Win32/v7/libSymphony.vcproj -text
stable/5.1/Win32/v7/symphony.sln -text
stable/5.1/Win32/v7/symphony.vcproj -text
stable/5.1/Win32/v8/libSymphony.vcproj -text
stable/5.1/Win32/v8/symphony.sln -text
stable/5.1/Win32/v8/symphony.suo -text
stable/5.1/Win32/v8/symphony.vcproj -text
stable/5.1/Win32/v8/unitTest.sln -text
stable/5.1/Win32/v8/unitTest.suo -text
stable/5.1/Win32/v8/unitTest.vcproj -text
stable/5.1/compile -text
stable/5.1/config.guess -text
stable/5.1/config.sub -text
stable/5.1/configure -text
stable/5.1/configure.ac -text
stable/5.1/depcomp -text
stable/5.1/install-sh -text
stable/5.1/ltmain.sh -text
stable/5.1/missing -text
stable/5.1/share/config.site -text
trunk/AUTHORS -text
trunk/Externals -text
trunk/LICENSE -text
trunk/Makefile.am -text
trunk/Makefile.in -text
trunk/README -text
trunk/SYMPHONY/AUTHORS -text
trunk/SYMPHONY/Applications/CNRP/Makefile.in -text
trunk/SYMPHONY/Applications/CNRP/Makefile.orig -text
trunk/SYMPHONY/Applications/CNRP/Win32/v6/cnrp.dsp -text
trunk/SYMPHONY/Applications/CNRP/Win32/v6/cnrp.dsw -text
trunk/SYMPHONY/Applications/CNRP/Win32/v6/cnrp.mak -text
trunk/SYMPHONY/Applications/CNRP/Win32/v6/libSymphony.dsp -text
trunk/SYMPHONY/Applications/CNRP/Win32/v8/cnrp.ncb -text svneol=unset#unset
trunk/SYMPHONY/Applications/CNRP/Win32/v8/cnrp.sln -text
trunk/SYMPHONY/Applications/CNRP/Win32/v8/cnrp.suo -text
trunk/SYMPHONY/Applications/CNRP/Win32/v8/cnrp.vcproj -text
trunk/SYMPHONY/Applications/CNRP/Win32/v8/libSymphony.vcproj -text
trunk/SYMPHONY/Applications/MATCH/Makefile.in -text
trunk/SYMPHONY/Applications/MATCH/Makefile.orig -text
trunk/SYMPHONY/Applications/MATCH/Win32/v6/libSymphony.dsp -text
trunk/SYMPHONY/Applications/MATCH/Win32/v6/match.dsp -text
trunk/SYMPHONY/Applications/MATCH/Win32/v6/match.dsw -text
trunk/SYMPHONY/Applications/MATCH/Win32/v6/match.mak -text
trunk/SYMPHONY/Applications/MATCH/Win32/v8/libSymphony.vcproj -text
trunk/SYMPHONY/Applications/MATCH/Win32/v8/match.sln -text
trunk/SYMPHONY/Applications/MATCH/Win32/v8/match.suo -text
trunk/SYMPHONY/Applications/MATCH/Win32/v8/match.vcproj -text
trunk/SYMPHONY/Applications/MCKP/Makefile.in -text
trunk/SYMPHONY/Applications/MCKP/Makefile.orig -text
trunk/SYMPHONY/Applications/MCKP/Win32/v6/libSymphony.dsp -text
trunk/SYMPHONY/Applications/MCKP/Win32/v6/mckp.dsp -text
trunk/SYMPHONY/Applications/MCKP/Win32/v6/mckp.dsw -text
trunk/SYMPHONY/Applications/MCKP/Win32/v6/mckp.mak -text
trunk/SYMPHONY/Applications/MCKP/Win32/v8/mckp.sln -text
trunk/SYMPHONY/Applications/MCKP/Win32/v8/mckp.suo -text
trunk/SYMPHONY/Applications/MCKP/Win32/v8/mckp.vcproj -text
trunk/SYMPHONY/Applications/MPP/Makefile.in -text
trunk/SYMPHONY/Applications/MPP/Makefile.orig -text
trunk/SYMPHONY/Applications/MPP/Win32/v6/libSymphony.dsp -text
trunk/SYMPHONY/Applications/MPP/Win32/v6/mpp.dsp -text
trunk/SYMPHONY/Applications/MPP/Win32/v6/mpp.dsw -text
trunk/SYMPHONY/Applications/MPP/Win32/v6/mpp.mak -text
trunk/SYMPHONY/Applications/MPP/Win32/v8/libSymphony.vcproj -text
trunk/SYMPHONY/Applications/MPP/Win32/v8/mpp.sln -text
trunk/SYMPHONY/Applications/MPP/Win32/v8/mpp.suo -text
trunk/SYMPHONY/Applications/MPP/Win32/v8/mpp.vcproj -text
trunk/SYMPHONY/Applications/SPP+CUTS/Makefile.in -text
trunk/SYMPHONY/Applications/SPP+CUTS/Makefile.orig -text
trunk/SYMPHONY/Applications/SPP+CUTS/Win32/v6/libSymphony.dsp -text
trunk/SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.dsp -text
trunk/SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.dsw -text
trunk/SYMPHONY/Applications/SPP+CUTS/Win32/v6/spp_with_cuts.mak -text
trunk/SYMPHONY/Applications/SPP+CUTS/Win32/v8/libSymphony.vcproj -text
trunk/SYMPHONY/Applications/SPP+CUTS/Win32/v8/spp_with_cuts.sln -text
trunk/SYMPHONY/Applications/SPP+CUTS/Win32/v8/spp_with_cuts.suo -text
trunk/SYMPHONY/Applications/SPP+CUTS/Win32/v8/spp_with_cuts.vcproj -text
trunk/SYMPHONY/Applications/SPP/Makefile.in -text
trunk/SYMPHONY/Applications/SPP/Makefile.orig -text
trunk/SYMPHONY/Applications/SPP/Win32/v6/libSymphony.dsp -text
trunk/SYMPHONY/Applications/SPP/Win32/v6/spp.dsp -text
trunk/SYMPHONY/Applications/SPP/Win32/v6/spp.dsw -text
trunk/SYMPHONY/Applications/SPP/Win32/v6/spp.mak -text
trunk/SYMPHONY/Applications/SPP/Win32/v8/libSymphony.vcproj -text
trunk/SYMPHONY/Applications/SPP/Win32/v8/spp.sln -text
trunk/SYMPHONY/Applications/SPP/Win32/v8/spp.suo -text
trunk/SYMPHONY/Applications/SPP/Win32/v8/spp.vcproj -text
trunk/SYMPHONY/Applications/USER/Makefile.in -text
trunk/SYMPHONY/Applications/USER/Makefile.orig -text
trunk/SYMPHONY/Applications/USER/Win32/v6/libSymphony.dsp -text
trunk/SYMPHONY/Applications/USER/Win32/v6/user.dsp -text
trunk/SYMPHONY/Applications/USER/Win32/v6/user.dsw -text
trunk/SYMPHONY/Applications/USER/Win32/v6/user.mak -text
trunk/SYMPHONY/Applications/USER/Win32/v8/libSymphony.vcproj -text
trunk/SYMPHONY/Applications/USER/Win32/v8/user.sln -text
trunk/SYMPHONY/Applications/USER/Win32/v8/user.suo -text
trunk/SYMPHONY/Applications/USER/Win32/v8/user.vcproj -text
trunk/SYMPHONY/Applications/VRP/Makefile.in -text
trunk/SYMPHONY/Applications/VRP/Makefile.orig -text
trunk/SYMPHONY/Applications/VRP/Win32/v6/libSymphony.dsp -text
trunk/SYMPHONY/Applications/VRP/Win32/v6/vrp.dsp -text
trunk/SYMPHONY/Applications/VRP/Win32/v6/vrp.dsw -text
trunk/SYMPHONY/Applications/VRP/Win32/v6/vrp.mak -text
trunk/SYMPHONY/Applications/VRP/Win32/v8/libSymphony.vcproj -text
trunk/SYMPHONY/Applications/VRP/Win32/v8/vrp.sln -text
trunk/SYMPHONY/Applications/VRP/Win32/v8/vrp.suo -text
trunk/SYMPHONY/Applications/VRP/Win32/v8/vrp.vcproj -text
trunk/SYMPHONY/Examples/milp2.c -text
trunk/SYMPHONY/Examples/milpOsi.c -text
trunk/SYMPHONY/Examples/milpOsi2.c -text
trunk/SYMPHONY/MSVisualStudio/sym.mak -text
trunk/SYMPHONY/MSVisualStudio/v6/libSymphony.dsp -text
trunk/SYMPHONY/MSVisualStudio/v6/symphony.dsp -text
trunk/SYMPHONY/MSVisualStudio/v6/symphony.dsw -text
trunk/SYMPHONY/MSVisualStudio/v6/symphony.opt -text
trunk/SYMPHONY/MSVisualStudio/v7/libSymphony.vcproj -text
trunk/SYMPHONY/MSVisualStudio/v7/symphony.sln -text
trunk/SYMPHONY/MSVisualStudio/v7/symphony.vcproj -text
trunk/SYMPHONY/MSVisualStudio/v8/libSymphony.vcproj -text
trunk/SYMPHONY/MSVisualStudio/v8/symphony.sln -text
trunk/SYMPHONY/MSVisualStudio/v8/symphony.suo -text
trunk/SYMPHONY/MSVisualStudio/v8/symphony.vcproj -text
trunk/SYMPHONY/MSVisualStudio/v8/unitTest.sln -text
trunk/SYMPHONY/MSVisualStudio/v8/unitTest.suo -text
trunk/SYMPHONY/MSVisualStudio/v8/unitTest.vcproj -text
trunk/SYMPHONY/Makefile.am -text
trunk/SYMPHONY/Makefile.in -text
trunk/SYMPHONY/configure -text
trunk/SYMPHONY/configure.ac -text
trunk/SYMPHONY/include/SymConfig.h -text
trunk/SYMPHONY/include/config_sym.h.in -text
trunk/SYMPHONY/scripts/publish2 -text
trunk/SYMPHONY/src/Makefile.am -text
trunk/SYMPHONY/src/Makefile.in -text
trunk/SYMPHONY/sym_addlibs.txt.in -text
trunk/SYMPHONY/test/Makefile.am -text
trunk/SYMPHONY/test/Makefile.in -text
trunk/SYMPHONY/test/OsiSolverInterfaceTest.cpp -text
trunk/SYMPHONY/test/OsiSymSolverInterfaceTest.cpp -text
trunk/SYMPHONY/test/unitTestSym.cpp -text
trunk/Win32/sym.mak -text
trunk/Win32/v6/libSymphony.dsp -text
trunk/Win32/v6/symphony.dsp -text
trunk/Win32/v6/symphony.dsw -text
trunk/Win32/v6/symphony.opt -text
trunk/Win32/v7/libSymphony.vcproj -text
trunk/Win32/v7/symphony.sln -text
trunk/Win32/v7/symphony.vcproj -text
trunk/Win32/v8/libSymphony.vcproj -text
trunk/Win32/v8/symphony.sln -text
trunk/Win32/v8/symphony.suo -text
trunk/Win32/v8/symphony.vcproj -text
trunk/Win32/v8/unitTest.sln -text
trunk/Win32/v8/unitTest.suo -text
trunk/Win32/v8/unitTest.vcproj -text
trunk/compile -text
trunk/config.guess -text
trunk/config.sub -text
trunk/configure -text
trunk/configure.ac -text
trunk/depcomp -text
trunk/install-sh -text
trunk/ltmain.sh -text
trunk/missing -text
trunk/share/config.site -text
