* text=auto !eol
.coin-or/projDesc.xml -text
/.travis.yml -text
/AUTHORS -text
/Dependencies -text
/INSTALL.md -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
SYMPHONY/AUTHORS -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v10/cnrp.sln -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v10/cnrp.suo -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v10/cnrp.vcxproj -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v8/cnrp.sln -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v8/cnrp.suo -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v8/cnrp.vcproj -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v9/cnrp.sln -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v9/cnrp.suo -text
SYMPHONY/Applications/CNRP/MSVisualStudio/v9/cnrp.vcproj -text
SYMPHONY/Applications/CNRP/Makefile.in -text
SYMPHONY/Applications/CNRP/Makefile.orig -text
SYMPHONY/Applications/INSTALL -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v10/match.sln -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v10/match.suo -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v10/match.vcxproj -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v8/match.sln -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v8/match.suo -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v8/match.vcproj -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v9/match.sln -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v9/match.suo -text
SYMPHONY/Applications/MATCH/MSVisualStudio/v9/match.vcproj -text
SYMPHONY/Applications/MATCH/Makefile.in -text
SYMPHONY/Applications/MATCH/Makefile.orig -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v10/mckp.sln -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v10/mckp.suo -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v10/mckp.vcxproj -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v8/mckp.sln -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v8/mckp.suo -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v8/mckp.vcproj -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v9/mckp.sln -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v9/mckp.suo -text
SYMPHONY/Applications/MCKP/MSVisualStudio/v9/mckp.vcproj -text
SYMPHONY/Applications/MCKP/Makefile.in -text
SYMPHONY/Applications/MCKP/Makefile.orig -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v10/user.sln -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v10/user.suo -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v10/user.vcxproj -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v8/user.sln -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v8/user.suo -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v8/user.vcproj -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v9/user.sln -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v9/user.suo -text
SYMPHONY/Applications/MISOCO/MSVisualStudio/v9/user.vcproj -text
SYMPHONY/Applications/MISOCO/Makefile.in -text
SYMPHONY/Applications/MISOCO/Makefile.orig -text
SYMPHONY/Applications/MPP/MSVisualStudio/v10/mpp.sln -text
SYMPHONY/Applications/MPP/MSVisualStudio/v10/mpp.suo -text
SYMPHONY/Applications/MPP/MSVisualStudio/v10/mpp.vcxproj -text
SYMPHONY/Applications/MPP/MSVisualStudio/v8/mpp.sln -text
SYMPHONY/Applications/MPP/MSVisualStudio/v8/mpp.suo -text
SYMPHONY/Applications/MPP/MSVisualStudio/v8/mpp.vcproj -text
SYMPHONY/Applications/MPP/MSVisualStudio/v9/mpp.sln -text
SYMPHONY/Applications/MPP/MSVisualStudio/v9/mpp.suo -text
SYMPHONY/Applications/MPP/MSVisualStudio/v9/mpp.vcproj -text
SYMPHONY/Applications/MPP/Makefile.in -text
SYMPHONY/Applications/MPP/Makefile.orig -text
SYMPHONY/Applications/MSVisualStudio/v10/libSymphony.vcxproj -text
SYMPHONY/Applications/MSVisualStudio/v8/libSymphony.vcproj -text
SYMPHONY/Applications/MSVisualStudio/v9/libSymphony.vcproj -text
SYMPHONY/Applications/Makefile.Applications.in -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v10/spp_with_cuts.sln -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v10/spp_with_cuts.suo -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v10/spp_with_cuts.vcxproj -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v8/spp_with_cuts.sln -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v8/spp_with_cuts.suo -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v8/spp_with_cuts.vcproj -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v9/spp_with_cuts.sln -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v9/spp_with_cuts.suo -text
SYMPHONY/Applications/SPP+CUTS/MSVisualStudio/v9/spp_with_cuts.vcproj -text
SYMPHONY/Applications/SPP+CUTS/Makefile.in -text
SYMPHONY/Applications/SPP+CUTS/Makefile.orig -text
SYMPHONY/Applications/SPP/MSVisualStudio/v10/spp.sln -text
SYMPHONY/Applications/SPP/MSVisualStudio/v10/spp.suo -text
SYMPHONY/Applications/SPP/MSVisualStudio/v10/spp.vcxproj -text
SYMPHONY/Applications/SPP/MSVisualStudio/v8/spp.sln -text
SYMPHONY/Applications/SPP/MSVisualStudio/v8/spp.suo -text
SYMPHONY/Applications/SPP/MSVisualStudio/v8/spp.vcproj -text
SYMPHONY/Applications/SPP/MSVisualStudio/v9/spp.sln -text
SYMPHONY/Applications/SPP/MSVisualStudio/v9/spp.suo -text
SYMPHONY/Applications/SPP/MSVisualStudio/v9/spp.vcproj -text
SYMPHONY/Applications/SPP/Makefile.in -text
SYMPHONY/Applications/SPP/Makefile.orig -text
SYMPHONY/Applications/USER/MSVisualStudio/v10/user.sln -text
SYMPHONY/Applications/USER/MSVisualStudio/v10/user.suo -text
SYMPHONY/Applications/USER/MSVisualStudio/v10/user.vcxproj -text
SYMPHONY/Applications/USER/MSVisualStudio/v8/user.sln -text
SYMPHONY/Applications/USER/MSVisualStudio/v8/user.suo -text
SYMPHONY/Applications/USER/MSVisualStudio/v8/user.vcproj -text
SYMPHONY/Applications/USER/MSVisualStudio/v9/user.sln -text
SYMPHONY/Applications/USER/MSVisualStudio/v9/user.suo -text
SYMPHONY/Applications/USER/MSVisualStudio/v9/user.vcproj -text
SYMPHONY/Applications/USER/Makefile.in -text
SYMPHONY/Applications/USER/Makefile.orig -text
SYMPHONY/Applications/VRP/MSVisualStudio/v10/vrp.sln -text
SYMPHONY/Applications/VRP/MSVisualStudio/v10/vrp.suo -text
SYMPHONY/Applications/VRP/MSVisualStudio/v10/vrp.vcxproj.user -text
SYMPHONY/Applications/VRP/MSVisualStudio/v8/vrp.sln -text
SYMPHONY/Applications/VRP/MSVisualStudio/v8/vrp.suo -text
SYMPHONY/Applications/VRP/MSVisualStudio/v8/vrp.vcproj -text
SYMPHONY/Applications/VRP/MSVisualStudio/v9/vrp.sln -text
SYMPHONY/Applications/VRP/MSVisualStudio/v9/vrp.suo -text
SYMPHONY/Applications/VRP/MSVisualStudio/v9/vrp.vcproj -text
SYMPHONY/Applications/VRP/Makefile.in -text
SYMPHONY/Applications/VRP/Makefile.orig -text
SYMPHONY/Examples/Makefile.in -text
SYMPHONY/Examples/SYMPHONYExamples.sln -text
SYMPHONY/Examples/SYMPHONYExamples.vcxproj -text
SYMPHONY/Examples/milp2.c -text
SYMPHONY/Examples/milp3.c -text
SYMPHONY/Examples/milpOsi.c -text
SYMPHONY/Examples/milpOsi2.c -text
SYMPHONY/MSVisualStudio/sym.mak -text
SYMPHONY/MSVisualStudio/v10/libOsiSym.vcxproj -text
SYMPHONY/MSVisualStudio/v10/libSymphony.vcxproj -text
SYMPHONY/MSVisualStudio/v10/symphony.sln -text
SYMPHONY/MSVisualStudio/v10/symphony.suo -text
SYMPHONY/MSVisualStudio/v10/symphony.vcxproj -text
SYMPHONY/MSVisualStudio/v10/unitTest.vcxproj -text
SYMPHONY/MSVisualStudio/v9/libOsiSym.vcproj -text
SYMPHONY/MSVisualStudio/v9/libSymphony.vcproj -text
SYMPHONY/MSVisualStudio/v9/symphony.sln -text
SYMPHONY/MSVisualStudio/v9/symphony.suo -text
SYMPHONY/MSVisualStudio/v9/symphony.vcproj -text
SYMPHONY/MSVisualStudio/v9/unitTest.sln -text
SYMPHONY/MSVisualStudio/v9/unitTest.vcproj -text
SYMPHONY/Makefile.am -text
SYMPHONY/Makefile.in -text
SYMPHONY/compile -text
SYMPHONY/config.guess -text
SYMPHONY/config.sub -text
SYMPHONY/configure -text
SYMPHONY/configure.ac -text
SYMPHONY/depcomp -text
SYMPHONY/include/SymConfig.h -text
SYMPHONY/include/config.h.in -text
SYMPHONY/include/config_default.h -text
SYMPHONY/include/config_sym.h.in -text
SYMPHONY/include/config_sym_default.h -text
SYMPHONY/include/sym_prep.h -text
SYMPHONY/include/sym_prep_params.h -text
SYMPHONY/include/sym_primal_heuristics.h -text
SYMPHONY/include/sym_qsort.h -text
SYMPHONY/install-sh -text
SYMPHONY/ltmain.sh -text
SYMPHONY/missing -text
SYMPHONY/scripts/pprof.awk -text
SYMPHONY/scripts/pprof.py -text
SYMPHONY/scripts/pprof_solved.awk -text
SYMPHONY/scripts/publish2 -text
SYMPHONY/scripts/report.py -text
SYMPHONY/scripts/speedup.awk -text
SYMPHONY/src/Common/sym_qsort.c -text
SYMPHONY/src/LP/lp_heuristics.c -text
SYMPHONY/src/LP/lp_sp.c -text
SYMPHONY/src/Makefile.am -text
SYMPHONY/src/Makefile.in -text
SYMPHONY/src/Master/master_prep.c -text
SYMPHONY/src/Master/master_prep_base.c -text
SYMPHONY/src/Master/master_prep_sr.c -text
SYMPHONY/src/OsiSym/Makefile.am -text
SYMPHONY/src/OsiSym/Makefile.in -text
SYMPHONY/src/OsiSym/OsiSymSolverInterface.cpp -text
SYMPHONY/src/OsiSym/OsiSymSolverInterface.hpp -text
SYMPHONY/src/OsiSym/OsiSymSolverParameters.hpp -text
SYMPHONY/src/OsiSym/SymWarmStart.cpp -text
SYMPHONY/src/OsiSym/SymWarmStart.hpp -text
SYMPHONY/src/OsiSym/osi-sym-uninstalled.pc.in -text
SYMPHONY/src/OsiSym/osi-sym.pc.in -text
SYMPHONY/symphony-app.pc.in -text
SYMPHONY/symphony-uninstalled.pc.in -text
SYMPHONY/symphony.pc.in -text
SYMPHONY/test/Makefile.am -text
SYMPHONY/test/Makefile.in -text
SYMPHONY/test/OsiSymSolverInterfaceTest.cpp -text
SYMPHONY/test/unitTestSym.cpp -text
/appveyor.yml -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/ltmain.sh -text
/missing -text
share/config.site -text
